/* DOES NOT WORK ON CRESTRON 1070 */
broken {
	color-scheme: only dark;
}

:root {
	font-size: 1rem;
	color: #FFF;
	background-color: #222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Crestron Touchpanel browser resolution */
	min-width: 1280px;
	min-height: 800px;
	width: 1280px;
	height: 800px;
	max-width: 1920px;
	max-height: 1080px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	/* display: flex; */
}

#app {
	width: 100%;
	height: 100%;

	position: relative;
}

/* Disable focus visual */
:focus {
	outline: 0;
}

* {
	/* Nicer sizing */
	box-sizing: border-box;

	/* Disable selecting */
	user-select: none;

	/* Font */
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
}

/* ALL Inputs */
/* input {
	margin: 0;
	padding: 2.5px;
	border: 0;

	background-color: #FFF;
	vertical-align: middle;
} */

/* Fixes user agent stylesheet */
button {
	font-size: 1em;
}

/* Input Range: Volume */
input[type="range"] {
	height: 20px;

	border-radius: 10px;

	appearance: none;
	background: #888;
}

input[type="range"]::-webkit-slider-thumb {
	width: 30px;
	height: 30px;

	border-radius: 15px;

	appearance: none;
	background: #FFF;
}

/* Dialogs / Modals */
::backdrop {
	background-color: #000;
	opacity: 0.5;
}

/* Labels */
.label {
	color: #FFF;
	padding-inline: 10px;
	font-size: 1.25rem;
	text-align: left;
}

/* Util */
.flex-center {
	display: flex;
	align-items: center;
}

/* Basic Buttons containing images */
.img-button {
	padding: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	background: none;
	border: 0
}

.img-button-column {
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: none;
	border: 0
}

/* Basic inheritting button */
.parent-button {
	width: 100%;
	height: 100%;

	background: none;
	border: 0;
	border-radius: inherit;
}

/* Generic button highlighting */
button.active,
input.active {
	position: relative;
}

button.active::after,
input.active::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: #FFF4;

	border-radius: inherit;
}